
#road {
    width: 200%;
    height: 6px;
    position: absolute;
    bottom: 0px;
    background-image: url('../img/inner-game/road.png');
    background-size: 109px;
    background-repeat: repeat-x;
}

#player {
    width: 50px;
    margin-left: 18%;
    bottom: 0px;
    position: absolute;
    padding: 0px;
}

#cloudContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

#obstacleContainer {
    width: 100%;
    height: 100%;
    bottom: 0px;
    position: absolute;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

#foodContainer {
    width: 100%;
    height: 100%;
    bottom: 0px;
    position: absolute;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

#score {
    bottom: 30px;
    margin-left: 18%;
    padding: 5px;
    font-size: 18px;
    position: absolute;
    transform: translate(-100%, 0);
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    visibility: hidden;
}

#tips {
    bottom: 0px;
    margin: 10px;
    margin-left: 50%;
    padding: 5px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    transform: translate(-50%, 0);
}