
body {
  overflow: hidden;
}

#inner-game {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 20%;
}

#games {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: scroll;
}
#games::-webkit-scrollbar {
  width: 0 !important
}
#games {
  -ms-overflow-style: none;
}
#games {
  overflow: -moz-scrollbars-none;
}

.title {
  text-align: center;
}

.card {
  width: 66%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgba(255, 255, 255, 1);
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  padding: 15px;
  text-align: center;
}

.card a {
  text-decoration: none;
}

.game-logo {
  height: 45px;
  border-radius: 9999px;
  vertical-align: middle;
}

.game-name {
  font-size: 22px;
  vertical-align: middle;
}
